body{
  background : #ccc;
}
#form{
  margin : 2em auto;
  width : 30em;
  background : #fff;
  padding : 2em;
  border-radius : 5px;
}

input{
  padding : 0.5em;
  margin : 1em;
}
button{
  padding : 0.5em;
  margin : 1em;
  border-radius : 0.5em;
}

.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
  &.example-enter-active {
    opacity: 1;
  }
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
  &.example-leave.example-leave-active {
    opacity: 0.01;
  }
}